<%- include("./partials/head", { title: "Add New Blog" }) %>

<body>
  <!-- Include navigation bar -->
  <%- include("./partials/nav") %>

  <div class="container">
    <!-- Form for adding a new blog post -->
    <form action="/blog" method="post" enctype="multipart/form-data">
      
      <!-- Cover Image input -->
      <div class="mb-3">
        <label for="coverImage" class="form-label">Cover Image</label>
        <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
      </div>

      <!-- Title input -->
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
      </div>

      <!-- Body text area -->
      <div class="mb-3">
        <label for="body">Body</label>
        <textarea class="form-control" name="body" id="body"></textarea>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>

  <!-- Include scripts -->
  <%- include("./partials/scripts") %>
</body>

</html>
