<%- include("./partials/head", { title: "HomePage" }) %>
<body>
  <%- include("./partials/nav") %>
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to BlogWaves!</h1>
      <p class="lead">
        Dive into a universe of stories, insights, and creativity. BlogWaves is your go-to platform for
        engaging blogs that span across various topics. Whether you're here to share your thoughts, discover new
        perspectives, or connect with a community of passionate writers, BlogWaves is the place where every
        story finds its voice.
      </p>
      <hr class="my-4">
      <p>
        Join us and be part of the BlogWaves experience, where every word matters.
      </p>
    </div>
  </div>
  <%- include("./partials/scripts") %>
</body>
</html>
